@import "tailwindcss";

@source "../**/*.{js,ts,jsx,tsx}";

/* Custom Theme - Colors */
@theme {
  --color-monday-blue: rgb(16 83 213);
  --color-monday-black: rgb(41 45 50);
  --color-monday-gray: rgb(106 118 134);
  --color-monday-lime-green-char: rgb(222 255 110);
  --color-monday-red: rgb(255 80 112);
  --color-monday-border: rgb(232 232 232);
  --color-monday-background: rgb(243 245 249);
  --color-monday-gray-background: rgb(243 243 243);
  --color-monday-lime-green: rgb(203 238 90);
  --font-sans: "Lexend Deca", ui-sans-serif, system-ui, sans-serif;
}

/* Custom Components */
@layer components {
  .btn {
    @apply flex items-center justify-center gap-2 py-4 px-6;
  }

  .btn-primary {
    @apply rounded-full bg-monday-blue text-white;
  }

  .btn-black {
    @apply rounded-2xl bg-monday-black text-white;
  }

  .btn-red {
    @apply rounded-full bg-monday-red text-white;
  }

  .btn-primary-opacity {
    @apply rounded-2xl bg-monday-blue/10 text-monday-blue transition-all duration-300;
    @apply ring-0 hover:ring-2 hover:ring-monday-blue;
  }

  .blue-gradient {
    background: linear-gradient(336.99deg, #0a3a89 0%, #1053d5 100%);
  }
}

/* Custom Utilities */
@layer utilities {
  .transition-300 {
    transition: all 300ms ease-in-out;
  }

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* Base Styles */
@layer base {
  body {
    @apply font-sans flex flex-col flex-grow min-h-screen;
    background-color: #f3f5f9;
    color: #292d32;
  }
}
